body {
    margin: 0;
    font-family: 'EB Garamond', serif;
    background: white;
    color: black;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

h1, h2 {
    text-align: center;
}

.navbar > ul {
    list-style-type: none;
    background-color: hsl(0, 0%, 75%);
    padding: 0;
    margin: 0;
    overflow: visible;
    display: flex;
    justify-content: center;
}

.navbar > ul > li {
    position: relative;
}

.navbar a {
    color: hsl(0, 0%, 0%);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: hsl(0, 0%, 50%);
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: hsl(0, 0%, 75%);
    padding: 0.5rem;
    min-width: 180px;
    list-style: none;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    z-index: 10;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}
